html,body{
    width: 100%;
    height:100%;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

section {
    height: 100%;
}

.vertical-center { /*alinhamento vertical*/
    min-height: 100%;  
    min-height: 100vh; 
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    /* flex-direction: row; */
}

.carousel-item {
    width: 1000;
    height: 500;
}

.text-caro {
    position: relative;
    text-align: center;
    height: 100%;
    color:black;
    font-weight: bold;
}

.navbar{
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 1;
    color: #FFF !important;
}

.nav-item{
    font-weight: bold;
}

.cor-Nav{
    background: #FFF !important;
}


.sidebar-wrapper{
    background: transparent;
    position: fixed;
}

#section1 {
    background-image: url(../images/bgtopo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color:#BBB;
}

#section2{
    background: linear-gradient(#fdcc52,#fdc539);
}

#section3 {
    background-image: url(../images/Banner.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-section3 {
    padding-top: 20px;
    font-size: 24px;
    color: rgb(21, 38, 143);
    text-align: center;
    z-index: 3;
}

#section5 {
    width: 100%;
}

.interno{
    padding-top: 100px;
}

#section5 {
    background-image: url(../images/back-contact.jpg);
    color: #DDD;
}

#slideshowEx {
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 2%;
}

.caro {
    width: 100%;
    height: 90%;
}

.form-group {
    padding-top: 30px;
}

.input {
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray !important;
    background-color: transparent !important;
    height: 40px;
}

.textArea {
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray !important;
    background-color: transparent !important;
}

.btn {
    float: right;
    width: 100px;
    border-radius: 0px;
    border: 1px solid gray;
    font-weight: bold;
    height: 50px;
    color: #BBB;
    background-color: rgba(0, 0, 0, 0.6)
}

.titulo-contato {
    padding-bottom: 100px;
}

.contato {
    padding-top: 20px;
}

::placeholder {
    color: #DDD !important;
}

input, textarea {
    color: #BBB !important;
}

/* Responsible */
@media only screen and (max-width: 1024px) {
    #section1 {
        font-size: 14px;
    }

    #section3 {
        width: 100%;
    }

    .espacamento {
        height: 120px;
    }

    .texto-section3 {
        padding-top: 30px;
        background:rgb(255,255,255);  
        background: transparent\9;  
        background:rgba(255,255,255, 0.6);
        padding-bottom: 30px;
        font-weight: 600;
    }

    /* Section5 */
    #section5 {
        text-align: center;
    }

    .form-group {
        padding-top: 10px;
    }

    .btn {
        width: 100%;
        height: 50px;
    }

    .titulo-contato {
        padding-bottom: 0px;
        display: none;
    }
    
    .contato {
        padding-top: 10px;
    }
}
